<header class='top-page-header'>

  
  <div class='lists-left'>  
    <%= link_to image_tag("logo.png", class:"icon"), root_path , class:"icon"%> 
  </div>
    
  <div class='lists-right'>
    <%if user_signed_in? %>
      <%= link_to current_user.user_name, edit_user_registration_path, class: "user-name" %>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %>
      <%= link_to "現場登録", new_construction_path , class: :nav__btn %>
    <% else %>
      <%= link_to 'ログイン', user_session_path, class: "login" %>
      <%= link_to '新規登録', new_user_registration_path, class: "sign-up" %>
    <%end%>
  </div>
  
</header>