<%= render "shared/header" %>
<div class='account-page' id='account-page'>
  <div class='account-page__inner clearfix'>
    <div class='account-page__inner--left account-page__header'>
      <h2>カレンダーの登録</h2>
    </div>
    <div class='account-page__inner--right user-form'>
     <%= form_with model: @calendar, url:calendars_path,  local: true do |f| %>
     <div class="field">
      <%= f.label :現場名 %>
      <%= f.collection_select :construction_id, Construction.all, :id, :name ,include_blank: "選択して下さい"%>
     </div>
     <div class='field'>
      <%= f.label :名　前%>
      <%= f.collection_select :user_id, User.all, :id, :user_name ,include_blank: "選択して下さい"%>
     </div>
     <div class="field">
      <%= f.label :工　種 %>
      <%= f.text_field :const_type %>
     </div>
     <div class="field">
      <%= f.label :会社名 %>
      <%= f.text_field :company %>
     </div>
     <div class="field">
       <%= f.label :人　数 %>
       <%= f.text_field :n_o_p %>
     </div>
     <div class="field-date">
      <%= f.label :日　付 %>
      <%= f.date_select :day %>
     </div>
     <div class="actions">
      <%= f.submit "登録", class: 'btn'%>
     </div>
     <% end %>
    </div>
  </div>
</div>

