<%= render "shared/header" %><br><br>
<div class = "body"> 
<%=@user.user_name + @user.position%>
<%= link_to "カレンダー登録", new_calendar_path %>
<%= week_calendar events: @calendars do |date, calendar| %>
  <%= date %>
  <% @calendars.each do |calendar| %>
    <div class = "calendar">
      <%if calendar.day  == date && calendar.user_id == @user.id %>
        <%= link_to calendar.construction.name , construction_path(calendar.construction.id) %>
        <li><%= link_to calendar.company ,edit_calendar_path(calendar.id) %>
            <%= calendar.const_type %>
            <%= "#{calendar.n_o_p}名" %></li>
      <% end %>
    </div>
  <% end %>
<% end %>
</div>