<%= render "shared/header" %>
<div class = "body">
  <table class="table">
    <tbody>
      <tr>
        <th class="table__col1">現場名</th>
        <td class="table__col2"><%= link_to @construction.name,edit_construction_path, method: :get %></td>
      </tr>
      <tr>
        <th class="table__col1">所在地</th>
        <td class="table__col2"><%= @construction.place %></td>
      </tr>
      <tr>
        <th class="table__col1">受注額</th>
        <td class="table__col2"><%= "#{@construction.price.to_s(:delimited, delimiter: ',')}円" %></td>
      </tr>
      <tr>
        <th class="table__col1">担当者</th>
        <td class="table__col2"><%=link_to "#{@construction.user.user_name + @construction.user.position}",user_path(@construction.user.id)%> </td>
      </tr>
      <tr>
        <th class="table__col1">施工状況</th>
        <td class="table__col2"><%= @construction.doing %></td>
      </tr>
      <tr>
        <th class="table__col1">完工予定</th>
        <td class="table__col2"><%= @construction.schedule %></td>
      </tr>
    </tbody>
  </table><br>
 <%= link_to "カレンダー登録", new_calendar_path %>
</div>
<div class = "calendar">
 <%= month_calendar events: @calendars do |date, calendar| %>
 <div class = "calendar-day">
 <%# <%= link_to date , new_calendar_path%>
 <%=date%></div>
  <% @calendars.each do |calendar| %>
    <%if calendar.day  == date && calendar.construction_id == @construction.id %>
      <li class = "calendar-day">
       <%= link_to calendar.company ,edit_calendar_path(calendar.id) %><br>
       <%= calendar.const_type %>
       <%= "#{calendar.n_o_p}名" %></li>
    <% end %>
  <% end %>
 <% end %><br><br>
</div>
<div class = "body">
  <% name_check = [] %>
  <% @calendars.each do |calendar|%> 
    <%unless name_check.include?(calendar.company) %> 
      <%if calendar.construction_id == @construction.id %>
        <%= calendar.company %>
        <% @nops = Calendar.where(company: calendar.company).where(construction_id: @construction.id)%>
           <li> <%= "#{@nops.sum { |hash| hash[:n_o_p]}}人工" %></li> 
           <input class = "nop" id = "nop" value ="<%= @nops.sum { |hash| hash[:n_o_p]} %>" >
           <div class = "price-content">
          <span class = "sell-yen">¥</span>
          <input id="price" placeholder = "単価を入力" >
        </div>
        <div class = "price-content">
          <span>合計</span>
          <span>
          <span id = 'total'></span>円
          </span>
        </div>
        <% name_check << calendar.company %><br>
      <% end %>
    <% end %>
  <% end %>
</div>




<%#追加計算機能 
<div class="body">
  <span id ='total'></span>
  <span>
   <span id='month'></span>円
  </span>
  <button id = "kei" type="button" name="aaa" value="aaa" style= width:30px; > <br><br><br><br><br><br>
</div> %>



